
node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml


vendor



build
dist


Dockerfile
.dockerignore

storage/logs
storage/framework
bootstrap/cache


*.log
*.lock
!composer.lock
*.swp

 



.git
.gitignore
.idea
.vscode


Thumbs.db
.DS_Store





